div.csdd#som-23#ok, .fdfg.dsgdgf {
  font-size: 12px;
  color: #ff3366;
  display: inline-block;
}

*.simple, span#sd, .sdsd23#sdfdfd {
  margin: 1.25em;
  background-color: #78f5e4;
  border-radius: 12px;
  color: aqua;
}
